<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
</head>
<body>
<div th:fragment="footer">
    <div class="modal-footer">
        <p>Select option</p>
        <ol>
            <li>
                <a th:href="@{/arena/actors}">Lista aktorów</a>
            </li>
            <li>
                <a sec:authorize="isAuthenticated()" th:text="|#{nav.logged} ${#authentication.name}|"
                   th:href="@{/auth/profile/{login}(login=${#authentication.name})}">Profil użytkownika</a>
            </li>
        </ol>
    </div>
</div>
</body>
</html>