<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
</head>
<body>
<div th:fragment="navBar">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:text="#{nav.home}" th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:text="#{nav.logout}" th:href="@{/logout}" href="logout"> Logout </a></li>
                <li><a th:text="|#{nav.logged} ${#authentication.name}|"> Logged</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>