<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{greeting.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:include="fragments/main :: navBar"></div>
    <div class="table" th:object="${actor}">
        <div th:text="${#object}"></div>
        <div th:text="*{personalData}"></div>
        <div th:text="*{personalData.adress}"></div>
    </div>
    <div th:include="fragments/main :: footer"></div>
</div>
</body>
</html>