<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{greeting.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:text="#{nav.home}" th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:text="#{nav.logout}" th:href="@{/logout}" href="logout"> Logout </a></li>
            </ul>
        </div>
    </div>
    <div class="table" th:object="${actor}">
        <div th:text="${actor}"> </div>
        <div th:text="*{personalData}"> </div>
        <div th:text="*{personalData.adress}"> </div>
    </div>
</div>
</body>
</html>