<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="fragments/layout">
<head>
    <title th:text="#{greeting.title}">Title</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{greeting.home}">Title</h1>
    <h2 th:text="${@simpleSessionBean.nameOf}">Go</h2>
    <table>
        <tr>
            <th>Motivation to:</th>
            <th>propStat</th>
        </tr>
        <tr th:each="prop : ${@simpleSessionBean.listOfProps}">
            <td th:text="${prop}"></td>
            <td th:text="${propStat}"></td>
        </tr>
    </table>
    <div th:text="${#calendars.format(#dates.createNow(), 'dd MMMM yy hh:mm')}"></div>
</div>
</body>
</html>