<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{greeting.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/main :: navBar"></div>
    <h1 th:text="#{greeting.home}">Title</h1>
    <h2 th:text="${@simpleSessionBean.nameOf}">Go</h2>
    <table>
        <tr>
            <th>Motivation to:</th>
            <th>propStat</th>
        </tr>
        <tr th:each="prop : ${@simpleSessionBean.listOfProps}">
            <td th:text="${prop}"></td>
            <td th:text="${propStat}"></td>
        </tr>
    </table>
    <div th:text="${#calendars.format(#dates.createNow(), 'dd MMMM yy hh:mm')}"></div>
    <div th:include="fragments/main :: footer"></div>
</div>
</body>
</html>