<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{greeting.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:text="#{nav.home}" th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:text="#{nav.logout}" th:href="@{/logout}" href="logout"> Logout </a></li>
                <li><a th:text="|#{nav.logged} ${user.name}|">Logged</a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="#{greeting.home}">Title</h1>
    <h2 th:text="${@simpleSessionBean.nameOf}">Go</h2>
    <table>
        <tr>
            <th>Motivation to:</th>
        </tr>
        <tr th:each="prop : ${@simpleSessionBean.listOfProps}">
            <td th:text="${prop}"></td>
        </tr>
    </table>
    <div th:text="${#calendars.format(#dates.createNow(), 'dd MMMM yy')}"></div>
    <div class="navbar-fixed-bottom">
        <p>Select option</p>
        <ol>
            <li><a th:href="@{arena/actors}">Lista aktorów</a></li>
            <li><a th:href="@{auth/profile}">Profil użytkownika</a></li>
        </ol>
    </div>
</div>
</body>
</html>