!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <title></title>
</head>
<body>


<!-- Main Content -->
<div layout:fragment="content">
    <div class="rules_wrapper">
        <h4>Kontakt</h4>
        <hr class="text"/>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam molestiae, quia. Ad veritatis
                commodi reprehenderit rerum facilis omnis architecto voluptate consequuntur veniam atque, minus deleniti
                molestias aut odio voluptates! Dolorem!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, magnam similique consequatur quas nam
                aliquam nemo eius magni iure! Delectus iure ut illum id voluptatum doloribus sunt, magnam soluta
                accusamus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt veniam ipsa quas asperiores dolorum
                enim ut saepe, blanditiis vero, id quasi repellat deleniti ab quidem, similique recusandae magni vitae
                architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe natus quo modi impedit, hic, laudantium
                sint nostrum mollitia totam id obcaecati accusantium beatae eius molestiae accusamus rem magni dolore
                dignissimos.</p>
        </div>
    </div>
</div>


</body>
</html>
