<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <title></title>
</head>
<body>
<!-- Main Content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
        <div class="col-8 personTile">
            <figure>
                <img class="img-responsive center" src="../../img/example_person.jpg" alt=""/>
                <figcaption><input type="checkbox" checked="true"/> Jan Kowalski</figcaption>
            </figure>
        </div>
    </div>
</div>

<script src="../../js/bootstrap-select.js"></script>
</body>
</html>
