<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:include="fragments/main :: navBar"></div>

    <p>Access denied: you do not have permission for that resource</p>
    <div th:text="${message}">Fake content</div>
    <div>Please contact the operator with the above information.</div>
</div>
</body>
</html>