<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<head>
    <title></title>
</head>
<body>
<!-- Main Content -->
<div layout:fragment="content">

    <!-- Main Content -->
    <div class="main_content search_out">
        <div class="container login_wrapper">
            <h4 th:text="#{login.form.header}"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="inner">
                        <p th:if="${param.error}" th:text="$#{login.form.error}" class="alert alert-error"/>
                        <p>Zaloguj się:</p>
                        <form id="loginForm" name="form" th:action="@{/auth/login}" action="/login" class="lg-m-top"
                              method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username"/>
                                <label th:text="#{login.form.username}"/>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password"/>
                                <label th:text="#{login.form.password}"/>
                            </div>

                            <div class="text-center lg-m-top">
                                <a id="login" onclick="document.getElementById('loginForm').submit();"
                                   class="btn btn_custom light block" th:text="#{login.form.submit}">Zaloguj się</a>
                                <p th:text="#{login.form.password.forgot}"/>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="inner">
                        <p th:text="#{login.form.new_account}"/>
                        <form action="" class="lg-m-top">
                            <div class="text-center lg-m-top">
                                <a class="btn btn_custom light block" th:text="#{login.form.register}"
                                   href="/auth/register"/>
                            </div>
                            <ul class="text-center list-unstyled xlg-m-top">
                                <li th:text="#{login.form.benefits}"/>
                                <li>- Bo tak</li>
                                <li>- Bo tak</li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
